<div id="container" class="section">
    <div class="center-column blue" style="height:690px;">
        <div style="dispaly: inline-block;width:100%;height:655px;">
            <div class="post-wrapper">
            <%  var articleLimitperSide = 4;
                var articleItems = articleListData.get('items');
                for( i = 0 ; i < articleItems.length  && i < articleLimitperSide; i++) {

                    var articleAggData = articleItems[i];
                    var articleStart = articleAggData.start;
                    var articleData = articleAggData[articleStart];
					var relatedImageAttr = articleData.relatedImage;
					if(relatedImageAttr != null) {
						var relatedImageStart = relatedImageAttr.type.concat(":" , relatedImageAttr.id);
						var relatedImageData = articleAggData[relatedImageStart];
					}
            %>
                    <div class="post" style="margin-bottom:15px;margin-top:5px;">
						<% if(relatedImageAttr != null) { %>
							<a href="#article/<%= articleData.id %>">
								<% if(relatedImageData.smallThumbnail_bloblink_ != null) { %>
									<img class="photo left" src="<%= getFullImageLink(relatedImageData.smallThumbnail_bloblink_) %>" alt="" width = "135" height = "90">
								<% } else { %>
									<img class="photo left" src="<%= relatedImageData.imageFile_bloblink_ %>" alt="" width = "135" height = "90">
								<% } %>	
							</a>
						<% } %>
                        <div class="descr left" style="height:145px;overflow:hidden;">
                            <h3 class="title" style="margin-top:0px;"><a href="#article/<%= articleData.id %>"><%= articleData.headline %></a></h3>
							<% if(articleData.abstract != null)  {%>
								<%= articleData.abstract %>
							<% }else { %>
								Abstarct is not available for this article.
							<% } %>
                        </div>
                    </div>

               <% } %>
           </div>

           <div class="post-wrapper">
            <%
                var articleItems = articleListData.get('items');
                for( i = i ; i < articleItems.length  && i < 2 * articleLimitperSide ; i++) {

                    var articleAggData = articleItems[i];
                    var articleStart = articleAggData.start;
                    var articleData = articleAggData[articleStart];
                    var relatedImageAttr = articleData.relatedImage;
					if(relatedImageAttr != null) {
						var relatedImageStart = relatedImageAttr.type.concat(":" , relatedImageAttr.id);
						var relatedImageData = articleAggData[relatedImageStart];
					}
            %>
                    <div class="post" style="margin-bottom:15px;margin-top:5px;">
						<% if(relatedImageAttr != null) { %>
							<a href="#article/<%= articleData.id %>">
								<% if(relatedImageData.smallThumbnail_bloblink_ != null) { %>
									<img class="photo left" src="<%= getFullImageLink(relatedImageData.smallThumbnail_bloblink_) %>" alt="" width = "135" height = "90">
								<% } else { %>
									<img class="photo left" src="<%= relatedImageData.imageFile_bloblink_ %>" alt="" width = "135" height = "90">
								<% } %>	
							</a>
						<% } %>
                        <div class="descr left" style="height:145px;overflow:hidden;">
                            <h3 class="title" style="margin-top:0px;"><a href="#article/<%= articleData.id %>"><%= articleData.headline %></a></h3>
                            <% if(articleData.abstract != null)  {%>
								<%= articleData.abstract %>
							<% }else { %>
								Abstarct is not available for this article.
							<% } %>
                        </div>
                    </div>

               <% } %>
           </div>
        </div>   
        <div class="slide-bar" style="margin-right:10px;">
           <button type="button" onclick="location.href='#ContentQuery/articles/paging/0'">first</button> 
           <%
                var curPageNo = articleListData.get('offset') / (2 * articleLimitperSide);
                var lastPageNo = Math.ceil(articleListData.get('limit')/(2 * articleLimitperSide)) - 1;

                if(curPageNo > 0) { 
            %>
                    <button type="button" onclick="location.href='#ContentQuery/articles/paging/<%= curPageNo - 1 %>'">previous</button>
            <% 
                 }
                 else { 
            %>
                    <button type="button">previous</button>
            <%
                }
            %>
            <% 
                if(curPageNo < lastPageNo) { 
            %>
                    <button type="button" onclick="location.href='#ContentQuery/articles/paging/<%= curPageNo + 1 %>'">next</button>
            <% 
                 }
                 else { 
            %>
                    <button type="button">next</button>
            <%
                }
            %>
            <button type="button" onclick="location.href='#ContentQuery/articles/paging/<%= lastPageNo %>'">last</button>
        </div>
    </div>    
</div>