<div id="container" class="section">
   <table id="searchTable">
        <tbody>
            <tr>
            <th>Articles</th>
            </tr>
            <% for(var i = 0 ; i < articleSearchListData.length ; i++){ 
                    if(i%2 == 0){%>
                        <tr>
                    <%}
                    else{%>
                        <tr class="alt">
                    <%}%>        
                    <td><a href="#article/<%= articleSearchListData[i].id.split(':')[1] %>"><%= articleSearchListData[i].name %></td>
                    <!-- <td><%= articleSearchListData[i].id.split(':')[0] %></td>
                    <td><%= articleSearchListData[i].description %></td> -->
                    </tr>
            <% } %>       
        </tbody>
    </table>
</div>