<div id="container" class="article-layout">
	<% 
        var start = aggrArticleData.get('start');
        var articleData = aggrArticleData.get(start);
    %>
    <div class="content">
        <div class="top-section">
            <!-- <span class="section-title">
                <a href="/cs/Satellite?c=Page&amp;cid=1329851332601&amp;pagename=avisports%2FPage%2FSectionLayoutGreen&amp;rendermode=preview">SURFING</a>
            </span> -->
            <span class="section-title">
              <%
                 var category =  articleData.category;
                 if(category == 'Ski'){
                    category = 'Skiing';
                }
              %>
              <a href="#<%= category %>"><%= category %></a>      
            </span>
            <%
                if(articleData.postDate != null) {
                    var date = new Date(articleData.postDate.value).toDateString();
            %>
            <span class="date"><%= date.substring(0,3) + ', ' + date.substring(4) %></span>
            <% } %>
        </div>
        <div class="title-section">
            <h1><%= articleData.headline %></h1>
            <h2><%= articleData.subheadline %></h2>
            <span class="author">BY <%= articleData.author %></span>
        </div>
        <div class="article">
        	<%
				var relatedImageAttr = articleData.relatedImage;
				if(relatedImageAttr != null) {
					var relatedImageStart = relatedImageAttr.type.concat(":" , relatedImageAttr.id);
					var relatedImageData = aggrArticleData.get(relatedImageStart);
            %>
					<div class="article-image">
						<img src="<%= relatedImageData.imageFile_bloblink_ %>" alt="" width="<%= relatedImageData.width %>" height="<%= relatedImageData.height %>">
						<% if(relatedImageData.caption != null ){ %>
							<div class="caption"> <%= relatedImageData.caption %> </div>
						<% } %>
					</div>
			<% } %>
            <%= articleData.body %>
        </div>
    </div>
    <div class="sidebar">
        <div class="box">
            <h2 class="title">Related Stories</h2>
            <%
            	for(var i = 0 ; i < articleData.relatedStories.length ; i++)
            	{
            		var relatedArticleStart = articleData.relatedStories[i].type.concat(":" , articleData.relatedStories[i].id);
            		var relatedArticleData = aggrArticleData.get(relatedArticleStart);  
                    var relatedArticleImageAttr = relatedArticleData.relatedImage;
            %>
                    <div class="highlight">

                    <%  if(relatedArticleImageAttr != null) {
                            var relatedArticleImageStart = relatedArticleImageAttr.type.concat(":" , relatedArticleImageAttr.id);
                            var relatedArticleImageData = aggrArticleData.get(relatedArticleImageStart);
                    %>
                            <a href="#article/<%= relatedArticleData.id %>">
                                <img class="photo left" src="<%= getFullImageLink(relatedArticleImageData.sidebarThumbnail_bloblink_) %>" alt="" width="239" height="170">
                            </a>
                    <% } %>
		                <div class="descr">
		                    <h3 class="title"><a href="#article/<%= relatedArticleData.id %>"><%= relatedArticleData.headline %></a></h3>
                            <% if(relatedArticleData.abstract != null ){ %>
                                    <%= relatedArticleData.abstract %> 
                            <% } %>
		                </div>
		            </div>

            <%	}  %>

        </div>

        <div class="box">
            <h2 class="title">Related Links</h2>
            <ul>
            	<%
            	for(var i = 0 ; i < articleData.relatedLinks.length ; i++)
            	{
            		var relatedArticleStart = articleData.relatedLinks[i].type.concat(":" , articleData.relatedLinks[i].id);
            		var relatedArticleData = aggrArticleData.get(relatedArticleStart);  %>

            		<li>
	                    <a href="#article/<%= relatedArticleData.id %>"><%= relatedArticleData.headline %></a>
	                </li>

            <%	}  %>

            </ul>
        </div>
    </div>
</div>