<div id="header">
	<div class="header-bar">
	<h1 class="logo"><a>AviSports-logo</a></h1>	
	</div>
	<ul class="navigation">
		<!-- <li>
			<select id="dropdownList">
				<option value="default">Default</option>	
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>
		</li> -->
		<!-- HTML for SEARCH BAR -->
		
		<li><a href="#"><%= siteNavigationData.name %></a></li>
		<% for( var i = 0 ; i < siteNavigationData.children.length ; i++ ) {
				var child = siteNavigationData.children[i];
		%>
				<li><a href="#<%= child[child.start].name %>"><%=child[child.start].name%></a></li>
		<%}%>
		<li><a href="#ContentQuery/articles">Articles</a></li>
		<li>
			<input id='searchText'  class='advancedSearchTextbox' type="text" size="21" maxlength="120"><input type="button" value="search" id='searchButton'>
		</li>
	</ul>
</div>