<div id="container" class="section">
    <% 
        var start = aggrPageData.get('start');
        var pageData = aggrPageData.get(start);
    %>  
    <div class="content">
        <%
            var mainBannerImgStart = pageData.banner.type.concat(":" , pageData.banner.id);
            var mainBannerImgData = aggrPageData.get(mainBannerImgStart);
        %>
        <img src= "<%= mainBannerImgData.imageFile_bloblink_ %>"  alt="" width="<%= mainBannerImgData.width %>" height="<%= mainBannerImgData.height %>">
        <div class="caption"><%= mainBannerImgData.caption %></div>
    </div>
    <div class="center-column blue">
        <div class="post-wrapper">
            <h2 class="title"><%= pageData.titleContent1 %></h2>

            <% 
                for(var i = 0 ; i < pageData.Assoc_Named_contentList1.length ; i++){ %>

                     <div class="post-large">

                        <%  if( pageData.Assoc_Named_contentList1[i].type == "AVIArticle" ){

                                var articleStart = pageData.Assoc_Named_contentList1[i].type.concat(":" , pageData.Assoc_Named_contentList1[i].id);
                                var articleData =  aggrPageData.get(articleStart); 
                                var relatedImageStart = articleData.relatedImage.type.concat(":" , articleData.relatedImage.id);
                                var relatedImageData = aggrPageData.get(relatedImageStart); 
                        %>

                                <a href="#article/<%= articleData.id %>">
                                <img class="photo left" src="<%= getFullImageLink(relatedImageData.largeThumbnail_bloblink_) %>" alt="">
                                </a>
                                <h3 class="title"><a href="#article/<%= articleData.id %>"><%= articleData.headline %></a></h3>
                                <p class="descr"><%= articleData.abstract %></p>

                        <%  }
                            else if( pageData.Assoc_Named_contentList1[i].type == "YouTube"){    

                                var youTubeStart = pageData.Assoc_Named_contentList1[i].type.concat(":" , pageData.Assoc_Named_contentList1[i].id);
                                var youTubeData =  aggrPageData.get(youTubeStart); 
								var srcURL = "http://www.youtube.com/embed/".concat(youTubeData.externalid, "?wmode=transparent");
                        %>
							 
                               <iframe id="ytplayer" type="text/html" width="420" height="260" src="<%= srcURL %>" frameborder="0"></iframe>
                           
                        <%  } %> 

                     </div>   

            <%  } %>

        </div>

        <div class="post-wrapper">
            <h2 class="title"><%= pageData.titleContent2 %></h2>

             <% 
                for(var i = 0 ; i < pageData.Assoc_Named_contentList2.length ; i++){ %>

                     <div class="post-large">

                        <%  if( pageData.Assoc_Named_contentList2[i].type == "AVIArticle" ){

                                var articleStart = pageData.Assoc_Named_contentList2[i].type.concat(":" , pageData.Assoc_Named_contentList2[i].id);
                                var articleData =  aggrPageData.get(articleStart); 
                                var relatedImageStart = articleData.relatedImage.type.concat(":" , articleData.relatedImage.id);
                                var relatedImageData = aggrPageData.get(relatedImageStart); 
                        %>

                                <a href="#article/<%= articleData.id %>">
                                <img class="photo left" src="<%= getFullImageLink(relatedImageData.largeThumbnail_bloblink_) %>" alt="" >
                                </a>
                                <h3 class="title"><a href="#article/<%= articleData.id %>"><%= articleData.headline %></a></h3>
                                <p class="descr"><%= articleData.abstract %></p>

                        <%  }
                            else if( pageData.Assoc_Named_contentList2[i].type == "YouTube"){   

                                var youTubeStart = pageData.Assoc_Named_contentList2[i].type.concat(":" , pageData.Assoc_Named_contentList2[i].id);
                                var youTubeData =  aggrPageData.get(youTubeStart); 
								var srcURL = "http://www.youtube.com/embed/".concat(youTubeData.externalid, "?wmode=transparent");
                        %>
							 
                               <iframe id="ytplayer" type="text/html" width="420" height="260" src="<%= srcURL %>" frameborder="0"></iframe>
                           
                        <%  } %> 

                     </div>   

            <%  } %>

        </div>
    </div>
</div>