<div id="container" class="section">
    <% 
        var start = aggrPageData.get('start');
        var pageData = aggrPageData.get(start);
    %>    
    <div class="content">
        <%
            var mainBannerImgStart = pageData.banner.type.concat(":" , pageData.banner.id);
            var mainBannerImgData = aggrPageData.get(mainBannerImgStart);
        %>
        <img src= "<%= mainBannerImgData.imageFile_bloblink_ %>"  alt="" width="<%= mainBannerImgData.width %>" height="<%= mainBannerImgData.height %>">
        <div class="caption"><%= mainBannerImgData.caption %></div>
    </div>
    <div class="center-column green">
        <div class="post-wrapper">
            <h2 class="title"><%= pageData.titleContent1 %></h2>
            <% 
                for(var i = 0 ; i < pageData.Assoc_Named_contentList1.length ; i++){
                    var articleStart = pageData.Assoc_Named_contentList1[i].type.concat(":" , pageData.Assoc_Named_contentList1[i].id);
                    var articleData =  aggrPageData.get(articleStart); 
                    var relatedImageStart = articleData.relatedImage.type.concat(":" , articleData.relatedImage.id);
                    var relatedImageData = aggrPageData.get(relatedImageStart); %>

                    <div class="post">
                        <a href="#article/<%= articleData.id %>">
                        <% if(i == 0) { %>
                               <img class="photo left" src="<%= getFullImageLink(relatedImageData.largeThumbnail_bloblink_) %>" alt="">
                        <% }
                           else { %>
                               <img class="photo left" src="<%= getFullImageLink(relatedImageData.smallThumbnail_bloblink_)  %>" alt="" width = "135" height = "90">
                        <% } %>

                        </a>
                        <h3 class="title"><a href="#article/<%= articleData.id %>"><%= articleData.headline %></a></h3>
                        <p class="descr"><%= articleData.abstract %></p>
                    </div>

            <%  } %>
    
        </div>

        <div class="post-wrapper">
            <h2 class="title"><%= pageData.titleContent2 %></h2>

            <% 
                for(var i = 0 ; i < pageData.Assoc_Named_contentList2.length ; i++){
                    var articleStart = pageData.Assoc_Named_contentList2[i].type.concat(":" , pageData.Assoc_Named_contentList2[i].id);
                    var articleData =  aggrPageData.get(articleStart);
                    var relatedImageStart = articleData.relatedImage.type.concat(":" , articleData.relatedImage.id);
                    var relatedImageData = aggrPageData.get(relatedImageStart); %>

                    <div class="post">
                        <a href="#article/<%= articleData.id %>">
                        <img class="photo left" src="<%= getFullImageLink(relatedImageData.smallThumbnail_bloblink_) %>" alt="" width = "135" height = "90">
                        </a>
                        <div class="descr left">
                            <h3 class="title"><a href="#article/<%= articleData.id %>"><%= articleData.headline %></a></h3>
                            <%= articleData.abstract %>
                        </div>
                    </div>

            <%  } %>

        </div>
    </div>
</div>