<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Listado de Tipos de Assets</h3>
  </div>

  <div class="panel-body">

    <button class="btn btn-primary" type="button" (click)="this.loadAssetTypes()">Cargar</button>

    <ul class="site-list">

      <li *ngFor="let assetType of this.assetTypes">
        <span class="asset-type-field-label">Nombre:</span><span class="asset-type-field-value">{{ assetType.name }}</span>
        <span class="asset-type-field-label">Href:</span><span class="asset-type-field-value">{{ assetType.href }}</span>
        <span class="asset-type-field-label">Subtipos:</span><span class="asset-type-field-value">{{ assetType.subtypes }}</span>
      </li>

    </ul>

  </div>

</div>
