<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Listado de Sitios</h3>
  </div>

  <div class="panel-body">

    <button class="btn btn-primary" type="button" (click)="this.loadAssetTypes()">Cargar</button>

    <ul class="site-list">
      <li *ngFor="let site of this.assetTypes">{{ site }}</li>
    </ul>

  </div>

</div>
