<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Listado de Usuarios</h3>
  </div>

  <div class="panel-body">

    <button class="btn btn-primary" type="button">Cargar</button>

    <ul class="site-list">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>

  </div>

</div>
