.site-list {
  margin-top:16px;
  margin-bottom:16px;
  border:1px blue solid;
}

.asset-type-field-label {
  margin:4px;
  padding:4px;
  font-weight:600;
}

.asset-type-field-value {
  margin:4px;
  padding:4px;
}

